In [2]:
%load_ext sql

In [3]:
%sql sqlite:///../db-public-transport/database.db

In [4]:
%%sql
SELECT * FROM bus_lines;

 * sqlite:///../db-public-transport/database.db
Done.

[(1, '66', 30.0, 45, 'Double Decker', 'Slussen', 'Odenplan'),
 (2, '1', 25.0, 30, 'Single Decker', 'T-Centralen', 'Stadshagen'),
 (3, '2', 28.0, 35, 'Single Decker', 'Fridhemsplan', 'Hornstull'),
 (4, '3', 29.0, 40, 'Double Decker', 'Mariatorget', 'Karlaplan'),
 (5, '4', 26.0, 32, 'Single Decker', 'Zinkensdamm', 'Tekniska Högskolan'),
 (6, '67', 31.0, 50, 'Double Decker', 'Medborgarplatsen', 'Universitetet'),
 (7, '69', 27.0, 38, 'Single Decker', 'Rådmansgatan', 'Gullmarsplan'),
 (8, '66', 30.0, 45, 'Double Decker', 'Slussen', 'Odenplan'),
 (9, '1', 25.0, 30, 'Single Decker', 'T-Centralen', 'Stadshagen'),
 (10, '2', 28.0, 35, 'Single Decker', 'Fridhemsplan', 'Hornstull'),
 (11, '3', 29.0, 40, 'Double Decker', 'Mariatorget', 'Karlaplan'),
 (12, '4', 26.0, 32, 'Single Decker', 'Zinkensdamm', 'Tekniska Högskolan'),
 (13, '67', 31.0, 50, 'Double Decker', 'Medborgarplatsen', 'Universitetet'),
 (14, '69', 27.0, 38, 'Single Decker', 'Rådmansgatan', 'Gullmarsplan'),
 (15, '66', 30.0, 45, 'Double Decker', 'Slussen', 'Odenplan'),
 (16, '1', 25.0, 30, 'Single Decker', 'T-Centralen', 'Stadshagen'),
 (17, '2', 28.0, 35, 'Single Decker', 'Fridhemsplan', 'Hornstull'),
 (18, '3', 29.0, 40, 'Double Decker', 'Mariatorget', 'Karlaplan'),
 (19, '4', 26.0, 32, 'Single Decker', 'Zinkensdamm', 'Tekniska Högskolan'),
 (20, '67', 31.0, 50, 'Double Decker', 'Medborgarplatsen', 'Universitetet'),
 (21, '69', 27.0, 38, 'Single Decker', 'Rådmansgatan', 'Gullmarsplan')]

In [5]:
%%sql
-- Get route names?
SELECT name FROM bus_lines;

 * sqlite:///../db-public-transport/database.db
Done.

[('66',),
 ('1',),
 ('2',),
 ('3',),
 ('4',),
 ('67',),
 ('69',),
 ('66',),
 ('1',),
 ('2',),
 ('3',),
 ('4',),
 ('67',),
 ('69',),
 ('66',),
 ('1',),
 ('2',),
 ('3',),
 ('4',),
 ('67',),
 ('69',)]

In [6]:
%%sql
-- Which routes end at Odenplan?
SELECT name, end FROM bus_lines;

 * sqlite:///../db-public-transport/database.db
Done.

[('66', 'Odenplan'),
 ('1', 'Stadshagen'),
 ('2', 'Hornstull'),
 ('3', 'Karlaplan'),
 ('4', 'Tekniska Högskolan'),
 ('67', 'Universitetet'),
 ('69', 'Gullmarsplan'),
 ('66', 'Odenplan'),
 ('1', 'Stadshagen'),
 ('2', 'Hornstull'),
 ('3', 'Karlaplan'),
 ('4', 'Tekniska Högskolan'),
 ('67', 'Universitetet'),
 ('69', 'Gullmarsplan'),
 ('66', 'Odenplan'),
 ('1', 'Stadshagen'),
 ('2', 'Hornstull'),
 ('3', 'Karlaplan'),
 ('4', 'Tekniska Högskolan'),
 ('67', 'Universitetet'),
 ('69', 'Gullmarsplan')]

In [11]:
%%sql
-- Which routes end at Odenplan?
SELECT name
FROM bus_lines
WHERE end="Odenplan";

 * sqlite:///../db-public-transport/database.db
Done.

[('66',), ('66',), ('66',)]

In [9]:
%%sql
-- Which double decker routes end at Odenplan?
SELECT name
FROM bus_lines
WHERE end = "Odenplan" AND bus_type = "Double Decker";

 * sqlite:///../db-public-transport/database.db
Done.

[('66',), ('66',), ('66',)]